{% extends "search/base.html" %}
{% load static %}
{% load mathfilters %}
{% load urltags %}
{% block content %}

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>


  <main>
    <div class="container">
      <!-- navbar -->
      <nav class="navbar navbar-expand navbar-dark bg-dark mb-5">
        <div class="container-fluid">
          <a class="navbar-brand" href="?brand=All">All Brands</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% for brand in brands %}
              {% if brand.name == current_brand %}
              <li class="nav-item active">
              {% else %}
              <li class="nav-item">
              {% endif %}
                <a class="nav-link" href="?brand={{brand.name}}">{{brand.name}}</a>
              </li>
              {% endfor %}
            </ul>
            <form class="d-flex">
              <div class="input-group rounded">
                <input type="search" class="form-control border-0" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
                <span class="input-group-text border-0 bg-white" id="search-addon">
                  <button type="submit" class="border-0 bg-white"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </nav>
      <!--/ navbar -->

      <!--Center Section-->
      <section class="text-center mb-4">
        <div class="container">
          <div class="row">
            <div class="column left" id="product-filter">
              <!-- filters -->
              <div class="accordion" id="filter-panel-accordion">
                <form method="get">
                  <!-- filter control -->
                  <div class="accordion-item mb-4 mt-5">
                    <h2 class="accordion-header" id="applied-filter-panel">
                      <button class="accordion-button mdb-color darken-2 text-white" type="button"
                              style="$accordion-icon-color: white;"
                              data-bs-toggle="collapse" data-bs-target="#applied-filter-panel-box"
                              aria-expanded="true" aria-controls="applied-filter-panel-box">
                        Filters
                      </button>
                    </h2>

                      <div id="applied-filter-panel-box" class="accordion-collapse collapse show" aria-labelledby="applied-filter-panel">
                        <div class="list-group list-group-horizontal-lg">
                          <button type="submit" class="list-group-item list-group-item-primary list-group-item-action">
                            Apply
                          </button>
                          <button type="submit" class="list-group-item list-group-item-danger list-group-item-action">
                            Clear
                          </button>
                        </div>
                      </div>
                  </div>
                  <!--/ filter control -->

                  <!-- model filters -->
                  <div class="accordion-item">
                    <input type="hidden" id="model_filter_value" name="sub_brand" value="0" />
                    <h2 class="accordion-header" id="model-filter-panel">
                      <button class="accordion-button collapsed mdb-color lighten-1 text-white" type="button"
                              style="$accordion-icon-color: white;"
                              data-bs-toggle="collapse" data-bs-target="#model-filter-panel-box"
                              aria-expanded="true" aria-controls="model-filter-panel-box">
                        Models
                      </button>
                    </h2>
                    <div id="model-filter-panel-box" class="accordion-collapse collapse" aria-labelledby="model-filter-panel">
                      <div class="list-group">
                        {% for model in models %}
                        <a class="list-group-item list-group-item-action">{{model}}</a>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <!--/ model filters -->

                  <!-- size filters -->
                  <div class="accordion-item">
                    <input type="hidden" id="size_filter_value" name="size" value="0" />
                    <h2 class="accordion-header" id="size-filter-panel">
                      <button class="accordion-button collapsed mdb-color lighten-1 text-white" type="button"
                              style="$accordion-icon-color: white;"
                              data-bs-toggle="collapse" data-bs-target="#size-filter-panel-box"
                              aria-expanded="true" aria-controls="size-filter-panel-box">
                        Sizes
                      </button>
                    </h2>
                    <div id="size-filter-panel-box" class="accordion-collapse collapse" aria-labelledby="model-filter-panel">
                      <div class="list-group">
                        {% for size_group in size_groups %}
                        <div class="list-group list-group-horizontal">
                          {% for size in size_group %}
                          {% if size %}
                          <a class="list-group-item list-group-item-action flex-fill">{{size}}</a>
                          {% else %}
                          <a class="list-group-item list-group-item-action flex-fill disabled"> </a>
                          {% endif %}
                          {% endfor %}
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <!--/ size filters -->

                  <!-- price filters -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="price-filter-panel">
                      <button class="accordion-button collapsed mdb-color lighten-1 text-white" type="button"
                              style="$accordion-icon-color: white;"
                              data-bs-toggle="collapse" data-bs-target="#price-filter-panel-box"
                              aria-expanded="false" aria-controls="price-filter-panel-box">
                        Price Range
                      </button>
                    </h2>

                    <div id="price-filter-panel-box" class="accordion-collapse collapse" aria-labelledby="model-filter-panel">
                      <div class="range_container">
                          <div class="sliders_control">
                             <input id="fromSlider" type="range" value="0" min="0" max="2500" step="10"/>
                             <input id="toSlider" type="range" value="1500" min="0" max="2500" step="10"/>
                          </div>
                          <div class="form_control">
                            <a>$</a>
                            <div class="form_control_container">
<!--                                <div class="form_control_container__time">Min</div>-->
                                <input class="form_control_container__time__input" type="number" name="min_price" id="fromInput" value="0" min="0" max="2500" step="10"/>
                              </div>
                            <h2>-</h2>

                              <div class="form_control_container">
<!--                                <div class="form_control_container__time">Max</div>-->
                                <input class="form_control_container__time__input" type="number" name="max_price" id="toInput" value="1500" min="0" max="2500" step="10"/>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <!--/ price filters -->
                </form>
              </div>
              <!--/ filters -->
            </div>
            <div class="column right" id="product-grid">
              <!--Product List-->
              <div class="d-flex justify-content-end" style="padding: 0 0px 10px 10px">
<!--                <span class="badge badge-primary">-->
<!--                {% if is_paginated %}-->
<!--                {{ paginator.count }} products-->
<!--                {% else %}-->
<!--                {% endif %}-->
<!--                </span>-->
                <!--Pagination-->
                <div class="dropdown show">
                  <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                     data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span style="font-size:larger;">Order By</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for orderby in order_by_menu %}
                    {% if orderby.value == current_order %}
                      <a class="dropdown-item active" href="?{% url_replace order_by=orderby.value %}">{{ orderby.name }}</a>
                    {% else %}
                      <a class="dropdown-item" href="?{% url_replace order_by=orderby.value %}">{{ orderby.name }}</a>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="row">
                {% for item in object_list %}
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%"
                         src="{% static item.local_image_src %}"
                         role="img" aria-label="Placeholder: Thumbnail"/>
                    {% if item.top_seller %}
                    <img src="{% static 'images/icons/best_seller.png' %}" width="40%" style="position: absolute; top: 1%; left: 59%;"/>
                    {% endif %}
                    <div class="card-body">
                      <p class="card-text" style="white-space: nowrap; overflow:hidden; display:block;">{{ item.name }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a type="button" href="{{ item.absolute_url }}" class="btn btn-primary">VIEW</a>
                        </div>
                        <small class="text-muted">{{ item.price_range }}</small>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% if is_paginated %}
              <div class="d-flex justify-content-center">
                <ul class="pagination pg-blue align-center">
                  {% if to_first_page %}
                  <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=1 %}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  {% endif %}

                  {% for page_number in pages %}
                    {% if page_number == page_obj.number %}
                    <li class="page-item active">
                    {% else %}
                    <li class="page-item">
                    {% endif %}
                      <a class="page-link" href="?{% url_replace page=page_number %}">{{ page_number }}
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                  {% endfor %}

                  {% if to_last_page %}
                  <li class="page-item">
                    <a class="page-link" href="?{% url_replace page=paginator.num_pages %}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
              {% endif %}
            </div>
          </div>
          <!--/Product List-->
        </div>
      </section>
      <!--/Center Section-->

    </div>

  </main>

{% endblock content %}

